In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('data.db')
cur = con.cursor()
cur.execute('''CREATE TABLE stocks
               (date text, trans text, symbol text, qty real, price real)''')

cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
cur.execute("INSERT INTO stocks VALUES ('2006-03-28', 'BUY', 'IBM', 1000, 45.0)")
cur.execute("INSERT INTO stocks VALUES ('2006-04-06', 'SELL', 'IBM', 500, 53.0)")
cur.execute("INSERT INTO stocks VALUES ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)")
con.commit()
con.close()

OperationalError: table stocks already exists

In [3]:
con = sqlite3.connect('data.db')
cur = con.cursor()
cur.execute('''CREATE TABLE options
               (expiry text, type text, underlying, strike real, premium real)''')

cur.execute("INSERT INTO options VALUES ('2006-01-05','P','SPX',3300,35.14)")
cur.execute("INSERT INTO options VALUES ('2006-03-28', 'P', 'SX5E', 4400, 45.0)")
cur.execute("INSERT INTO options VALUES ('2006-04-06', 'C', 'SPX', 3500, 53.0)")
cur.execute("INSERT INTO options VALUES ('2006-04-05', 'C', 'SX5E', 4500, 72.0)")
con.commit()
con.close()

In [4]:
con = sqlite3.connect('data.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM stocks order by price asc'):
        print(row)
con.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [5]:
con = sqlite3.connect('data.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM options order by premium asc'):
        print(row)
con.close()

('2006-01-05', 'P', 'SPX', 3300.0, 35.14)
('2006-03-28', 'P', 'SX5E', 4400.0, 45.0)
('2006-04-06', 'C', 'SPX', 3500.0, 53.0)
('2006-04-05', 'C', 'SX5E', 4500.0, 72.0)

In [3]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("create table lang (name, first_appeared)")

# This is the qmark style:
cur.execute("insert into ? values (?, ?)", ("lang", "C", 1972))

# The qmark style used with executemany():
lang_list = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cur.executemany("insert into lang values (?, ?)", lang_list)

# And this is the named style:
cur.execute("select * from lang where first_appeared=:year", {"year": 1972})
print(cur.fetchall())

con.close()

OperationalError: near "?": syntax error